.title {
  text-align: center;
}

.main {
  text-align: center;
}

.footer {
  text-align: center;

}

.main {
  display: flex;
}
.sideBar {
  flex: 1;

}
.sideBar button,
.sideBar input {
  width: 90%;
  height: 100px;
  margin: 10px 0;
  background-color: violet;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.content {
  flex: 9;
  border: 1px solid black;
}
.content div {

  margin: 10px 0;
}

table{
  width: 100%;
}
#gradeTable{
  font-size: 1.5rem;
}
#gradeTable input{
  width: 90%;
  height: 50px;
}

#jsonUsers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#inputLottery{
  height: 50px;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

hr{
  border: 10px solid black;
  margin: 100px 0;
}
#form div , #submit{
  border: 0px solid black;
}

.bubbleSort{
  display: grid;
  grid-template-columns: repeat(20,1fr);
}

#app-todos{
  width: 50%;
  margin: auto;
}
.todos{
  display: flex;
  justify-content: space-around;
}
.todos p , .todos div{
  flex: 10;
}
.todos button{
  flex:1;
}
.todos-option{
  display: flex;
}
#checkBox{
  flex: 1;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}
#delete{
  background-color: red;
  margin: auto;
  padding: 10px 0;
  border-radius: 10px;
}


.var-obj{
  display: flex;
  justify-content: space-around;
}
.var-obj button{
  height: 50px;
  background-color: blueviolet;
  color: white;
  font-size: 1.5rem;
  width: 30%;
  border-radius: 20px;

}