.title {
  text-align: center;
  border: 1px solid black;
}

.main {
  text-align: center;
}

.footer {
  text-align: center;
  border: 1px solid black;
}

.main {
  display: flex;
}
.sideBar {
  flex: 1;
  border: 1px solid black;
}
.sideBar button,
.sideBar input {
  width: 90%;
  height: 100px;
  margin: 10px 0;
  background-color: violet;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.content {
  flex: 9;
  border: 1px solid black;
}
.content div {
  border: 1px solid black;
  margin: 10px 0;
}

table{
  width: 100%;
}
#gradeTable{
  font-size: 1.5rem;
}
#gradeTable input{
  width: 90%;
  height: 50px;
}

#jsonUsers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#inputLottery{
  height: 50px;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

hr{
  border: 10px solid black;
}
#form div , #submit{
  border: 0px solid black;
}